@media (min-width: 1024px) {
    .desktop {
        width: 100vw;
        height: 100vh;
        display: block;
        position: relative;
    }

    .desktop__ {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Start */
    .desktop__start_logo_box {
        width: 148px;
        height: 149px;
        background-color: transparent;
        position: relative;
        animation: addWidthToBoxDesktop .5s ease-in-out forwards;
        animation-delay: 2s;
    }

    .desktop__start_logo_box img {
        position: absolute;
    }

    .desktop__start_logo_box img:nth-child(1) {
        top: 0;
        left: 0;
    }

    .desktop__start_logo_box img:nth-child(2) {
        top: 23px;
        right: 0;
    }

    .desktop__start_logo_box img:nth-child(3) {
        top: 39px;
        left: 111px;
        opacity: 0;
        animation: showCceptLogoDesktop .5s ease-in-out forwards;
        animation-delay: 2s;
    }

    @keyframes addWidthToBoxDesktop {
        from {
            width: 108px;
        }
        to {
            width: 460px;
        }
    }

    @keyframes showCceptLogoDesktop {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Vector */
    .desktop__vector_box {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
    }

    .desktop__vector_box .desktop__vector_box--vector {
        position: absolute;
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
        animation: moveVectorDesktop .5s ease-in-out forwards;
        animation-delay: 2s;
    }

    @keyframes moveVectorDesktop {
        from {
            bottom: -200px;
        }
        to {
            bottom: 113px;
        }
    }

    .desktop__vector_box--click-text {
        width: 182px;
        height: 42px;
        position: absolute;
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        animation: moveClickTextDesktop .5s ease-in-out forwards;
        animation-delay: 2.5s;
        color: #fff;
        transition: .5s;
    }

    .desktop__vector_box--click-text:hover {
        cursor: pointer;
        color: #37B46E;
    }

    .desktop__vector_box--borders {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .desktop__vector_box--border-1,
    .desktop__vector_box--border-2,
    .desktop__vector_box--border-3,
    .desktop__vector_box--border-4 {
        position: absolute;
        box-sizing: border-box;
    }

    .desktop__vector_box--border-1 {
        top: 0;
        left: 0;
    }

    .desktop__vector_box--border-2 {
        top: 0;
        right: 0;
    }

    .desktop__vector_box--border-3 {
        bottom: 0;
        left: 0;
    }

    .desktop__vector_box--border-4 {
        bottom: 0;
        right: 0;
    }

    .desktop__vector_box--borders span {
        width: 100%;
        height: 100%;
        position: absolute;
        font-size: 24px;
        left: 7px;
        top: 9px;
    }

    @keyframes moveClickTextDesktop {
        from {
            bottom: -200px;
        }
        to {
            bottom: 181px;
        }
    }

    /* Action */
    .desktop__action_box {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        display: none;
    }

    .desktop__action_box.show {
        display: block;
    }

    .desktop__action_box .desktop__action_box--action {
        position: absolute;
        bottom: -4000px;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
        z-index: 1;
    }

    .desktop__action_box.animate .desktop__action_box--action {
        animation: moveActionDesktop 2s ease-in-out forwards;
        z-index: 1;
    }

    @keyframes moveActionDesktop {
        from {
            bottom: -4000px;
        }
        to {
            bottom: 250px;
        }
    }

    .desktop__action_box--logo-and-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 419px;
        height: 110px;
        z-index: 2;
        animation: addWidthToActionBoxDesktop 0.5s ease-in-out forwards;
        animation-delay: 3s;
    }

    .desktop__action_box--accept {
        width: 420px;
        height: 110px;
        opacity: 0;
        transition: 0.5s;
    }

    .desktop__action_box.animate .desktop__action_box--accept {
        animation: fadeInAcceptDesktop 0.8s ease-in-out forwards;
        animation-delay: 2s;
    }

    @keyframes fadeInAcceptDesktop {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes addWidthToActionBoxDesktop {
        from {
            width: 419px;
        }
        to {
            width: 1032px;
        }
    }

    .desktop__action_box--text {
        color: #37B46E;
        width: 563px;
        height: 38px;
        font-size: 96px;
        position: absolute;
        top: 5px;
        right: 0;
        text-align: center;
        opacity: 0;
    }

    .desktop__action_box.animate .desktop__action_box--text {
        animation: showTextDesktop 0.5s ease-in-out forwards;
        animation-delay: 3.5s;
    }

    @keyframes showTextDesktop {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .desktop__action_box--p {
        text-align: justify;
        font-size: 20px;
        width: 419px;
        height: 253px;
        opacity: 0;
        color: #000;
    }

    .desktop__action_box.animate .desktop__action_box--p {
        animation: showTextDesktop 0.5s ease-in-out forwards;
        animation-delay: 3.5s;
    }

    .desktop__action_box--info_background {
        position: absolute;
        bottom: -4000px;
        left: 0;
        width: 100%;
        height: 60%;
        background-color: #B3B3B3;
        z-index: 1;
        opacity: 0;
    }

    .desktop__action_box.animate .desktop__action_box--info_background {
        animation: moveInfoBackgroundDesktop 2s ease-in-out forwards;
        animation-delay: 0.2s;
    }

    @keyframes moveInfoBackgroundDesktop {
        0% {
            bottom: -4000px;
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        100% {
            bottom: 0;
            opacity: 1;
        }
    }

    .desktop__action_box.animate ~ .desktop__footer {
        background-color: black;
        color: white;
    }

    .desktop__footer {
        width: 100vw;
        height: 200px;
        background-color: #B3B3B3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }

    .desktop__vector_box.move-up .desktop__vector_box--vector {
        animation: moveVectorUpDesktop 1s ease-in-out forwards;
    }

    @keyframes moveVectorUpDesktop {
        from {
            bottom: 113px;
        }
        to {
            bottom: 1000px;
        }
    }
}
